<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include('partials/head') %>
  </head>

  <body>
    <%- include('partials/navigation') %>
    <main class="container d-flex flex-column align-items-center w-100 vh-100">
      <h1 class="mb-3">About me</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eaque beatae voluptas delectus sed dicta natus, corrupti blanditiis explicabo veritatis consequuntur atque? Voluptatem at facilis labore totam ad veniam cumque!
      Adipisci autem atque, eveniet, debitis molestiae delectus reiciendis nostrum itaque ad necessitatibus molestias praesentium fugiat perspiciatis facere ex odit quam vel in corporis distinctio! Itaque reiciendis minus ipsum quae placeat!
      Ex iusto dolorum officia dolorem qui, culpa repudiandae, adipisci sint numquam, sequi velit quo iste. Consequuntur quasi animi, ipsum, fugit rem maiores nam dicta laboriosam sapiente expedita aliquid, optio molestias!
      Quas cum, provident corrupti error quos enim blanditiis delectus facere. Maiores aspernatur nobis iure ex quaerat soluta? Ullam obcaecati dolor error molestias saepe laudantium sequi totam optio consectetur facere. Saepe.
      Quisquam, nihil numquam. Aliquid eum cum tempore ea unde deserunt non nihil esse sunt perferendis saepe quos, eligendi, pariatur culpa quod suscipit veritatis vitae! Assumenda necessitatibus asperiores eum labore suscipit.
      Illum omnis alias, deserunt quasi sunt placeat dolore recusandae itaque commodi ipsa repudiandae exercitationem quis optio deleniti laboriosam numquam ratione laudantium eos vitae, ducimus repellat. Vero, repudiandae delectus. Provident, optio.
      Explicabo natus tempora quam dolor quas? Officia, reprehenderit beatae! Ipsa reiciendis eum, optio, odio quis at excepturi magni perferendis in nemo blanditiis omnis. Minus nisi eum quia architecto expedita beatae.
      Earum explicabo minus dolore sapiente dolorem corporis numquam placeat eius nobis distinctio voluptate soluta exercitationem nemo harum recusandae assumenda iure, laboriosam delectus corrupti. Doloremque pariatur odit, totam cumque perspiciatis qui.
      Excepturi dolorem expedita, mollitia, veritatis commodi minima officia inventore odit vel fugiat nemo, ab aperiam? Non quia unde fugiat rem. Nemo doloribus odit quidem vitae repudiandae dolorum sint, ea quisquam.
      Ad cupiditate eveniet tempora ab quaerat eos aliquid, asperiores, aliquam iste odit possimus magnam sed libero. Iusto quia natus, nemo harum facilis consequuntur porro quasi veritatis animi? Aliquam, nostrum nesciunt.</p>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/body_config') %>
  </body>
</html>
