<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include('partials/head') %>
  </head>

  <body>
    <%- include('partials/navigation') %>
    <main class="container d-flex justify-content-center w-100 vh-100">
      <h1>Hola Flor soy frontender desde el back :P</h1>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/body_config') %>
  </body>
</html>
